Flask==2.3.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.0.1
Flask-Login==0.6.3
Flask-Cors==3.1.1
gunicorn==23.0.0
Werkzeug==2.3.2
requests==2.31.0
SQLAlchemy==2.0.21
greenlet==2.0.2
fpdf==1.7.2
python-magic==0.4.18
